.form {
  max-width: 30rem;
  margin: 1rem auto;
  padding: 1rem 3rem 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 4.2px;
  box-shadow: 0px 3px 10px -2px rgb(0 0 0 / 20%);
}

.form > * {
  font-family: inherit;
}

.form * {
  margin: 0;
  box-sizing: border-box;
}

.form input:focus,
.form select:focus {
  outline: 0;
  border-color: #bd8200;
}

.form_text {
  width: 100%;
}

.form_container {
  display: flex;
}

.form_container > .form_field {
  padding: 0.5rem;
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}

.form_container > .form_field:first-child {
  border-right: 1px solid black;
}
.form_container > .form_field:last-child {
  border-left: 1px solid black;
}

.form_date,
.form_country {
  margin: 1em 0 0;
  width: 100%;
  height: 100%;
  min-height: 3em;
  border: 0;
  border-top: 2px solid black;
  border-radius: 0;
}
